.buttonSection {
    background-color: $white;
}

.buttons {
    background-color: $marine-blue;
    color: $white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;

    &:first-child {
        background-color: inherit;
        color: $cool-gray;
    }

    &:active {
        translate: 2px 1px;
    }

    &[type="submit"] {
        background-color: $purplish-blue;
    }
}