.buttonSection {
    background-color: $white;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    @media (min-width: 576px) {
        position: static;
        margin-top: auto;
    }
}

.buttons {
    background-color: $marine-blue;
    color: $white;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    font-weight: 700;
    transition: 0.3s;

    @media (min-width: 996px) {
        padding: 0.5rem 1.25rem;
    }

    &:first-child {
        background-color: inherit;
        color: $cool-gray;

        &:hover {    
            color: $marine-blue;
        }
    }

    &:nth-child(2) {

        &:hover {
            background-color: transparentize($marine-blue, 0.1);
        }
    }

    &:active {
        translate: 2px 1px;
    }

    &[type="submit"] {
        background-color: $purplish-blue;

        &:hover {
            background-color: transparentize($purplish-blue, 0.2);
            color: $alabaster;
        }
    }
}