.form {
    background-color: $white;
    border-radius: 0.5rem;
    padding: 2.5rem 1.25rem;

    input[type="radio"], input[type="checkbox"] {
        -webkit-appearance: none;
        appearance: none;
    }

    fieldset {
        display: contents;
    }
}

.legend {
    color: $marine-blue;
    font-weight: 700;
    font-size: 1.5rem;
}

.description {
    color: $cool-gray;
}