.aside {

    @media (min-width: 768px) {
        background-color: $white;
        padding: 1rem;
        padding-right: 0;
        border-radius: 0.5rem 0 0 0.5rem;
        flex: 32%;
    }

    ul {   
        @media (min-width: 768px) {
        background-image: url("../../src/assets/images/bg-sidebar-desktop.svg");
        background-size: cover;
        height: 100%;
        padding: 1.5rem;
        border-radius: 0.5rem;
        & > * {
            scale: 0.9;
        }
    }

        .step {
            font-size: 0.75rem;
            color: opacify($pastel-blue, 0.4);
            font-weight: 500;
        }

        .stepName {
            font-size: 0.75rem;
            color: $alabaster;
            font-weight: 700;

            @media (min-width: 992px) {
                font-size: 0.9rem;
            }
        }

        .counter {
        width: 2.25rem;
        height: 2.25rem;
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        display: grid;
        place-items: center;
        }

        .idleCounter {
            color: $white;
            border-color: $light-gray;
        }

        .activeCounter {
            background-color: $light-blue;
        }
    }
}