$body-bg: transparentize($pastel-blue, 0.85);

@import "node_modules/bootstrap/scss/bootstrap";

html {
    width: 100vw;
    height: 100vh;
    height: 100dvh;
}

body {
    background-image: url("./assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% auto;
    font-family: "Ubuntu", sans-serif;
    min-height: 100vh;
    min-height: 100dvh;

    @media (min-width: 768px) {
        background-image: none;
        display: grid;
        place-items: center;
    }
}

main {
    margin: auto;
    width: 91%;

    @media (min-width: 768px) {
        width: 44rem;
        height: 32rem;
    }

    @media (min-width: 992px) {
        width: 58rem;
        height: 38rem;
    }
}